<style>
* {box-sizing: border-box;}

    .input-container {
      display: flex;
      width: 50%;
      margin-bottom: 15px;
      text-align:center;
    }

    .icon {
      padding: 10px;
      background: black;
      color: white;
      min-width: 50px;
      text-align: center;
    }

    .input-field {
      width: 100%;
      padding: 10px;
      outline: none;
    }

    .input-field:focus {
      border: 2px solid dodgerblue;
    }

    .btn {
      background-color: black;
      color: white;
      padding: 15px 20px;
      border: none;
      cursor: pointer;
      width: 50%;
      opacity: 0.9;
    }

    .btn:hover {
      opacity: 1;
    }
</style>